<h1>Simple ag-Grid Angular Example</h1>
{{stateText}}
<br>
{{ eventText }}
<ag-grid-angular style="width: 100%; height: 315px;"
                 class="ag-fresh"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 [gridOptions]="gridOptions"
                 (gridReady)="onGridReady($event)"
                 [enableSorting]="true"
                  (filterChanged)="onFilterChanged($event)"
                   (sortChanged)="onSortChanged($event)">
</ag-grid-angular>
